body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 600px){
    main{
        width: 95%;
    }
}

main {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    padding: 50px;
}

header{
    text-align: center;
    background-color: #ddd;
    color: #555;
}

footer{
    text-align: center;
    background-color: #ddd;
}

nav{
    text-align: center;
    background-color: #555;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
}

nav ul {
    margin: 5px;
}

nav ul li {
    display: inline-block;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #ddd;
}

nav a:hover {
    color: #eee;
}

h2 {
    color: #555;
}

.galery img {
    margin: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px black;
}